 <!-- Se hizo una copia con fines de aprendizaje por el javaScript singular -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>Testimoniales gnExpress</title>
    <!--   Normalizando Documento para que se vea en todo dispositivo-->
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
  	<link rel="stylesheet" th:href="@{/css/stiles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontello.css}"/>

    <!--   Estableciendo fuentes a todo el documento (buscado en google fonts)-->

    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!--  font-family: 'Titillium Web', sans-serif;  -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">





    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <!-- <img src="img/logo1.png" class="logo-brand" alt="logotipo de bienes raíces"> -->
            <div class="logoExpress">
                <a class="navbar-brand" href="/"><img th:src="@{/img/logo.png}" class="logo-brand" alt="logotipo de bienes raíces"> </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <ion-icon name="menu-outline"></ion-icon>
             </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                         <a class="nav-link" href="/" id="Inicio">Inicio</a>
                    </li>

                    <li class="nav-item">
                       <a class="nav-link" th:href="@{contacto}">Contactanos</a>
                    </li>

                    <li class="nav-item">
                       <a class="nav-link" th:href="@{blog_todos}" id="anuncios">NuestroBlog</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" id="anuncios">Testimoniales</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Servicios
              </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div th:each="servicio1 : ${serv_gnExpress}">                          
                                                     
                            <a class="dropdown-item" th:href="@{subservicios(id_Servicio=${servicio1.id}, nombre_Servicio=${servicio1.nombre})}"><p th:text="${servicio1.nombre}"></p></a>
                            
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" id="administre">administre</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <header>
        <div class="site-header-testimonial">

        </div>
    </header>
    <h1 style="font-size: 4rem;">

    </h1>

    <section class="borde-inferior margin-top-negativo2">
       <div>
			<h2 class="display-4" style="margin-left: 7rem; margin-top: 3rem;">Testimoniales</h2>
		</div>
		<div class="contenedor-reducido2" style="margin: 0 auto;">
			<br>


			<div class="card">
				<div class="card-header">
					<h3 class="card-title font-weight-bold">Tu opinion es valiosa</h3>
					<p class="h4">Dejanos tu comentario</p>

				</div>
				<div class="card-body">



					<h5 class="card-title" style=" font-size:1.7rem; ">Califica nuestro servicio</h5>
					<span class="fa fa-star" onclick="calificar(this)"
						style="cursor: pointer" id="1 estrella"></span> <span
						class="fa fa-star" onclick="calificar(this)"
						style="cursor: pointer" id="2 estrella"></span> <span
						class="fa fa-star" onclick="calificar(this)"
						style="cursor: pointer" id="3 estrella"></span> <span
						class="fa fa-star" onclick="calificar(this)"
						style="cursor: pointer" id="4 estrella"></span> <span
						class="fa fa-star" onclick="calificar(this)"
						style="cursor: pointer" id="5 estrella"></span><br> <br>
					<div class="form-testimonial">

						<form th:action="@{crea_testimonial}" th:object="${testim}" method="post">

							<input type="hidden" name="ratingForm" id="ratingForm">

							<fieldset>							
							
								<label for="autor">nombre</label>
								<input  th:field="*{autor}" type="text"  placeholder="nombre"><br>
								<br> <label for="testim">Comentario</label><br>
								<textarea th:field="*{testimonial}" cols="60" rows="7"></textarea>							

							</fieldset>

							<input type="submit" name="button" id="button" value="Enviar"
								onclick="Mensaje()" style=" font-size:1.7rem; ">
						</form>
						
						<br> <br>
					</div>
					<div style="text-align: center;">
						<!--    <button class="btn btn-primary" style="text-align:center;" onclick="Mensaje()"> calificar</button>  -->
					</div>

				</div>
			</div>
			
		</div>

    </section>


    <section class="contenedor-reducido padding-reduce">
        <div class="marginbotton-add borde-inferior">
			<p class="text-muted h4" th:text="${testimonial.autor}"><span
					class="font-italic">: </span>
			</p>
			<blockquote class="blockquote">
				<p style="text-align: justify; font-size:1.6rem;" th:text="${testimonial.testimonial}">
				</p>

				<div class="rating">
				
				
					<span class="fa fa-star" id="1estrella2"></span> <span
						class="fa fa-star" id="2estrella2"></span> <span
						class="fa fa-star" id="3estrella2"></span> <span
						class="fa fa-star" id="4estrella2"></span> <span
						class="fa fa-star" id="5estrella2"></span><br> <br>



				</div>
				<footer class="blockquote" style="font-size:1.6rem;">
					fecha: <cite title="origen de la cita" th:text="${testimonial.fecha}">
						</cite>
				</footer>
			</blockquote>



		</div>

       
				
			<div class="marginbotton-add borde-inferior" th:each=" testimoniales : ${testimoniales}">
				<p class="text-muted h4" th:text="${testimoniales.autor}"><span
						class="font-italic">: </span>
				</p>
				<blockquote class="blockquote">
					<p style="text-align: justify; font-size:1.6rem;" th:text="${testimoniales.testimonial}"></p>

					<div class="rating">
					
					<span class="fa fa-star"   th:id="${'1'+testimoniales.id}"></span> <span
							class="fa fa-star" th:id="${'2'+testimoniales.id}"></span> <span
							class="fa fa-star" th:id="${'3'+testimoniales.id}"></span> <span
							class="fa fa-star" th:id="${'4'+testimoniales.id}"></span> <span
							class="fa fa-star" th:id="${'5'+testimoniales.id}"></span><br> <br>
							
<script>

//Aquí pinto del segundo juego de estrellas para abajo en los testimoniales que van debajo del form

var rating2 = "[[${testimoniales.porcentaje}]]";
var i=0;


while(i<5){
	
    if (i < rating2) {
        document.getElementById((i + 1) + '[[${testimoniales.id}]]').style.color = "orange";

    } else {
        document.getElementById((i + 1) + '[[${testimoniales.id}]]').style.color = "black";
    }
	i++;
}	


</script>



					</div>
					<footer class="blockquote" style="font-size:1.6rem;">
						fecha: <cite title="origen de la cita" style="font-size:1.6rem;" th:text="${testimoniales.fecha}">
						</cite>
					</footer>
				</blockquote>
			</div>		
		
    </section>



    <footer class="footerWidth ">
        <div class="container-fluid">
            <div class="footer-align font-italic ">

                <div class="contacto-footer">
                    <div class="encabezado-footer ">
                        <p class="text-uppercase ">contacto directo EquipoTuObra</p>
                    </div>
                    <div class="datos-gn ">
                         <p><i class="icon-mail"></i>:  <span th:text="${gnExpress.correo}"></span></p>                        
                        <p><i class="icon-volume-control-phone"></i>:  <span th:text="${gnExpress.telefono}"></span></p>
                        <p><i class="icon-mobile"></i>:  <span th:text="${gnExpress.movil}"></span></p>
                    </div>
                </div>

                <div class="nav-footer">
                    <nav class="align-nav-footer">
                        <a class="nav-link" th:href="@{/}" id="Inicio">Inicio</a>
                        <a class="nav-link" href="@{contacto}" id="Contactanos">Contactanos</a>
                        <a class="nav-link" th:href="@{blog_todos}" id="anuncios">NuestroBlog</a>
                        <a class="nav-link" href="#" id="testim">Testimoniales</a>

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Servicios
                          </a>
                        <div class="dropdown-menu">
                             <div th:each="servicio1 : ${serv_gnExpress}">                          
                                                     
                        		<a class="dropdown-item" th:href="@{subservicios(id_Servicio=${servicio1.id})}" th:text="${servicio1.nombre}"></a>
                            
                            </div>
                        </div>

                        <a href="#"> <a class="nav-link" href="#" id="Administre">Administre</a></a>
                    </nav>
                </div>
                <div class="last-element">
                    <div class="logo-footer">
                        <a href="#">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                       <a th:href="${gnExpress.twitter}">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                        <a href="#">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                        <a href="#">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>

                    </div>

                    <div class="derechos">
                        <p class="copyright ">Todos los derechos reservados <span th:text="${fechaFoot}"> </span>&copy; </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>

    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js "></script>
</body>



<script>

//Aquí pinto las estrellas del formulario

var contador;

function calificar(item) {
	console.log(item);
	contador = item.id[0];
	document.getElementById("ratingForm").value = contador;
	let nombre = item.id.substring(1);

	for (let i = 0; i < 5; i++) {
		if (i < contador) {
			document.getElementById((i + 1) + nombre).style.color = "orange ";
		} else {
			document.getElementById((i + 1) + nombre).style.color = "black ";
		}

	}

}

function Mensaje() {
	alert("Gracias por calificar nuestros servicios. Usted nos dió "
			+ contador + " estrellas. ");
}






//Aqui pinto el primer juego de estrellas de los testimoniales, los que van debajo del formulario

var rating = "[[${testimonial.porcentaje}]]";  //Este es el testimonial 1 recordar lo que hace carousel del index (tienes que sacar el primero y luego del primero hacia adelante)


for (let i = 0; i < 5; i++) {
    if (i < rating) {
        document.getElementById((i + 1) + "estrella2").style.color = "orange";

    } else {
        document.getElementById((i + 1) + "estrella2").style.color = "black";
    }
}
//-------------------------------------------------------


</script>

</html>